.codeBlock {
    padding: 0.5em 1em;
    
    background-color: rgba(255, 255, 255, 0.1);

    border-left: 5px solid #DFDFDF;
    border-radius: 5px;

    width: 450px;
    
    white-space:pre;
}

.codeLine {
    float: left;
}

.questionNumber {
    display: block;
    width: 180px;
}