div.achievement {
    transition-property: box-shadow, z-index;

}
/* Fixes achievement transitions. */

.hidden {
	height: 10px !important;
}
/* Changes the height of blank layers so the triangle lines up correctly. */

.treeNode:not(.smallNode) {
    color: rgba(255, 255, 255, 0.75);
    -webkit-text-stroke: 2px #000;
    -ms-text-stroke: 2px #000;
    -moz-text-stroke: 2px #000;
}

.smallNode {
    margin: 25%;
    color: rgba(0, 0, 0, 0.8);
}
/* Adds a gap between side nodes. */

.formattedTable, .formattedTable tr th, .formattedTable tr td {
    border: 2px solid white;
    border-collapse: collapse;
    padding: 10px;
}
/* Adds a border and padding to tables. */

select {
    border: none;

    font-family: "Inconsolata", monospace;
    font-size: 2em;
    color: inherit;

    background-color: inherit;
}

option {
    background-color: #222;
}

.resetButton {
    color: inherit;
    
    background-color: #444;
}

.debugButton {
    width: 60px;
    height: 60px;
}